
.colour-chart-display-grid-container
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    background-color: white;
}
.paint-colour-class-name
{
    /* width: 200px; */
    height: 120px;
}






























































.silver-birch{background-color: #e6e2d9 !important;}
.smoke-grey{background-color: #bbb8b9 !important;}
.granite{background-color: #87888d !important;}
.carbon{background-color: #4e4e53 !important;}
.orchid{background-color: #f2c3bc !important;}
.dusty-red{background-color: #b5687a !important;}
.burgundy{background-color: #863a55 !important;}
.deep-pulm{background-color: #511c3a !important;}
.lotus{background-color: #fcf3e4 !important;}
.blossom{background-color: #e8c8b9 !important;}
.rose-grey{background-color: #b39389 !important;}
.flamingo{background-color: #f4b8a6 !important;}
.roman-red{background-color: #b15e5b !important;}
.chestnut{background-color: #833b3e !important;}
.paprika{background-color: #b43740 !important;}
.cherry{background-color: #931127 !important;}
.coral-pink{background-color: #fcdbcd !important;}
.fireball{background-color: #f15758 !important;}
.signal{background-color: #d12339 !important;}
.peanut{background-color: #f0c29c !important;}
.beettlenut{background-color: #aa5744 !important;}
.tobacco{background-color: #6b2712 !important;}
.seville-orange{background-color: #c8663b !important;}
.nutmeg{background-color: #8d362a !important;}
.apricot{background-color: #faac6e !important;}
.tangerine{background-color: #ed644e !important;}
.harvest-gold{background-color: #ab3a24 !important;}
.magnolia{background-color: #fff9e9 !important;}
.sandstone{background-color: #e9d5bd !important;}
.mink{background-color: #ad9686 !important;}
.peat{background-color: #795c4d !important;}
.midnight{background-color: #4c362b !important;}
.honey-suckle{background-color: #ffedcb !important;}
.cinnamon{background-color: #d99f69 !important;}
.old-gold{background-color: #a06538 !important;}
.suede{background-color: #6a3a1e !important;}
.saffron{background-color: #f19a1d !important;}
.pearl-grey{background-color: #d4d3ca !important;}
.storm{background-color: #a4a39f !important;}
.tempest{background-color: #6a6663 !important;}
.soft-white{background-color: #fff8e0 !important;}
.kraft-grey{background-color: #e4daba !important;}
.lava{background-color: #766851 !important;}
.prairie-dust{background-color: #aca28b !important;}
.nightfall{background-color: #332c21 !important;}
.ivory{background-color: #fff1cd !important;}
.mimosa{background-color: #f3e2a2 !important;}
.spice{background-color: #ccb36d !important;}
.havana{background-color: #5c3f19 !important;}
.mustard{background-color: #d0a334 !important;}
.honeycomb{background-color: #9d7912 !important;}
.primrose{background-color: #fbf1af !important;}
.sweetcorn{background-color: #ffe06f !important;}
.valencia{background-color: #f9d102 !important;}
.glacier-green{background-color: #f3f1d7 !important;}
.sage{background-color: #dcdab5 !important;}
.florida-green{background-color: #a6a689 !important;}
.olive{background-color: #716d51 !important;}
.cape-green{background-color: #343209 !important;}
.fiesta{background-color: #e3e0a2 !important;}
.evergreen{background-color: #535525 !important;}
.citrus{background-color: #a3a53e !important;}
.conifer{background-color: #777730 !important;}
.lollipop{background-color: #dede48 !important;}
/* .lime{background-color: #a9bc43 !important;} */
.lime{background-color: lime !important;}
.snowberry{background-color: #ecf4e1 !important;}
.orbit-green{background-color: #a2b69e !important;}
.mallard{background-color: #26452d !important;}
.vintage-green{background-color: #29332e !important;}
.apple{background-color: #70ae69 !important;}
.emerald-green{background-color: #1e864d !important;}
.sky-blue{background-color: #bdd1c1 !important;}
.orion{background-color: #bcd0c0 !important;}
.winter-blue{background-color: #004f3e !important;}
.turquoise{background-color: #229479 !important;}
.ice{background-color: #d3dad5 !important;}
.typhoon{background-color: #989f9f !important;}
.charcoal{background-color: #697277 !important;}
.gun-metal{background-color: #183432 !important;}
.angel-blue{background-color: #f5faef !important;}
.horizon-blue{background-color: #a2bcc5 !important;}
.deep-blue{background-color: #00546a !important;}
.denim{background-color: #398b9f !important;}
.baby-blue{background-color: #dcebdf !important;}
.oasis-blue{background-color: #a9dde4 !important;}
.rich-blue{background-color: #20aac9 !important;}
.cornflower{background-color: #0078aa !important;}
.pale-lilac{background-color: #c9e0ec !important;}
.jacaranda{background-color: #5d89a9 !important;}
.electric-blue{background-color: #002c47 !important;}
.sapphire{background-color: #005488 !important;}
.calypso-blue{background-color: #56aadc !important;}
.gardenia{background-color: #f7f3ea !important;}
.lilac-haze{background-color: #e3ccd4 !important;}
.tropical-violet{background-color: #7d78a4 !important;}
.spanish-violet{background-color: #424a8c !important;}
.purple-haze{background-color: #e3ccd4 !important;}
.current{background-color: #61396f !important;}